.cards {
  padding: 2rem 4rem;
  background: transparent;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cards-wrapper {
  margin: 50px 0 45px;
}

.cards-items {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 0px;
  flex: 1;
  margin: 0.5rem 1rem;
  border-radius: 10px;
}
.cards-item {
  position: relative;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  flex: 1;
  width: 200px;
  margin: 0.5rem 1rem;
  border-radius: 10px;
}

.add-btn-wrapper {
  position: absolute;
}

.add-btn {
  position: relative;
  border-radius: 10px;
  border: none;
  width: 40px;
  height: 40px;
  background-color: #1f98f4;
}

.cards-item-link {
  display: flex;
  flex-flow: column;
  width: 100%;
  border: none;
  background-color: rgb(43, 42, 68);
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  text-decoration: none;
}

.cards-item-pic-wrap {
  position: relative;
  background-color: transparent;
  width: 100%;
  border-radius: 10px;
  border: none;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards-item-img {
  width: 201px;
  display: block;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards-item-img:hover {
  transform: scale(1.1);
}

.cards-item-info {
  padding: 10px 30px 40px;
  margin: auto;
}

.cards-item-text {
  color: #bdc8ea;
  font-size: 18px;
  line-height: 24px;
}

.cards-item-date {
  color: rgb(126, 126, 174);
  font-size: 0.8rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  font-family: "Edu VIC WA NT Beginner", cursive;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 2%;
}

.movie-overview {
  background-color: rgb(8, 8, 82);
  color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  font-size: 0.7rem;
  padding: 0.5rem;
  position: absolute;
  width: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  height: 80%;
  max-width: 100%;
  transform: translateY(102%);
  transition: transform 0.4s ease-in-out;
}

.cards-item:hover .movie-overview {
  transform: translateY(0%);
}

.footer-card-container {
  position: absolute;
  bottom: 5%;
  width: 184px;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 10px 5px;
}
.run-time-container {
  position: relative;
  width: 40%;
}
.rating-container {
  position: relative;
  margin-left: auto;
  width: 40%;
}

.footer-card-header {
  font-size: 0.8rem;
  margin-bottom: 5px;
}
.footer-card-info {
  font-size: 0.7rem;
  font-family: "Edu VIC WA NT Beginner", cursive;
}

@media only screen and (min-width: 1200px) {
  .content-blog-container {
    width: 84%;
  }
}

@media only screen and (max-width: 1024px) {
  .cards-items {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 1650px) {
  .cards-items {
    margin-bottom: 2rem;
    grid-template-columns: repeat(6, 1fr);
    transition: all 0.5s ease-out;
  }
}
@media only screen and (max-width: 1400px) {
  .cards-items {
    margin-bottom: 2rem;
    grid-template-columns: repeat(5, 1fr);
    transition: all 0.5s ease-out;
  }
}
@media only screen and (max-width: 1200px) {
  .cards-items {
    margin-bottom: 2rem;
    grid-template-columns: repeat(4, 1fr);
    transition: all 0.5s ease-out;
  }
}
@media only screen and (max-width: 1000px) {
  .cards-items {
    margin-bottom: 2rem;
    grid-template-columns: repeat(3, 1fr);
    transition: all 0.5s ease-out;
  }
}
@media only screen and (max-width: 800px) {
  .cards-items {
    margin-bottom: 2rem;
    grid-template-columns: repeat(2, 1fr);
    transition: all 0.5s ease-out;
  }
}
@media only screen and (max-width: 600px) {
  .cards-item {
    width: 150px;
  }
  .cards-item-img {
    width: 150px;
  }
  .footer-card-container {
    right: 0%;
    width: 145px;
  }
  .footer-card-header {
    font-size: 0.6rem;
  }
  .footer-card-info {
    font-size: 0.6rem;
  }
}
