* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.services {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.background-img-movies {
  object-fit: cover;
  width: 100%;
  top: 0px;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.background-img-watchlist {
  object-fit: cover;
  width: 100%;
  top: 0%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.background-img-watchlist-empty {
  width: 100%;
}

.sign-up {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
